$dark-gray                              : #6B758A;
$system-txt                             : #273F45;
$lighter-txt                            : #769AA8;

// Internal
$platform-color                         : #6FDBC2;
$system-color                           : #B9D1D7;
$unused-color                           : #E9F0F1;

// Services
$service-colors                         : #1785A7, #1CADE8, #576B6F, #76C163, #0E5669, #B0B0B0, #B36558, #6C9DA1, #5E8CB0, #8A5C3F, #652F63, #D9B4A1;

//
.nanobox-dash-ui-usage-breakdown        {
  .component                            {

    //
    .gauges                             {display:flex; width:100%; border-bottom:1px solid #E7EDF1;
      svg                               {margin-bottom:-2px; border:none;}

      .gauge                            {
        .label                          {fill:$lighter-txt; font-size:21px; text-transform:uppercase;}

        // loop through each path.service assigning a service-color
        @each $color in $service-colors {
          $i                            : index($service-colors, $color);
          .service:nth-of-type(#{$i})   {fill: $color;}
        }

        //
        .internal                       {
          &.platform                    {fill: $platform-color;}
          &.system                      {fill: $system-color;}
          &.free                        {fill: $unused-color;}
        }
      }
    }

    //
    table.services                      {width:100%; margin-top: 17px; border-spacing:0px 5px;
      tr td                             {padding:3px 0px;}

      //
      thead.labels                      {tr th.label {font-size:13px; width:20%; color:$dark-gray; text-transform:uppercase;}}

      //
      tbody.stats                       {font-size:13px;
        tr                              {width:100%; border-bottom:2px solid white;
          td                            {height:27px; vertical-align: middle; border-right:2px solid white;

            //
            &.icon                      {width:42px; text-align:center; position:relative;
              .icon-wrap                {width: 29px; position:absolute; top:-7px;}
              svg {
                > g                     {transform: translateY(3px);}
                .bg                     {stroke: white; stroke-width:4px; }
              }
            }
          }

          //
          td.stat                       {width:0px; background:#D8E0E6; color:#282E3C;
            &.name                      {padding-left:10px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; color:white;}
            &.metric                    {text-align:center;}
          }

          // data.type
          &.service                     {}
          &.internal                    {td.name {color: $system-txt;} td.icon {visibility:hidden;}}
        }

        // loop through each "service" assigning a service-color
        @each $color in $service-colors {
          $i                            : index($service-colors, $color);
          tr:nth-child(#{$i})           {td.name {background: $color;}}
        }

        //
        tr.platform                     {border-top:25px solid white; td.name {background: $platform-color;}}
        tr.system                       {td.name {background: $system-color;}}
        tr.free                         {border-top:25px solid white;
          td.name                       {background: $unused-color; font-style:italic; &after {content:" (unused)"}}
        }
      }
    }
  }
}
