.component
  h4.title Resouce Usage Breakdown
  
  //- 
  #gauges
    //- populated via javascript
  
  //- 
  table.services
  
    //- 
    thead.labels
      tr
        td(colspan="2")
        //- data populated via javascript
      
    //- tbody populated via javascript
