.component
  h4.title Resouce Usage Breakdown
  
  //- 
  .gauges
    //- populated via javascript
  
  //- 
  table.services
  
    //- 
    thead.labels
      tr
        td(colspan="2")
        //- data populated via javascript
      
    //- 
    tbody#services.stats
      //- rows populated via javascript
      
    //- 
    tbody#internals.stats
      //- rows populated via javascript
    
    //-
    tbody#unused.stats
      tr
        td(colspan="1")
        td.stat.name unused
        //- data populated via javascript
