.component
  h4.title Resouce Usage Breakdown
  
  //- 
  .gauges
    //- loaded in via javascript
  
  //- 
  table.services
  
    //- 
    thead.labels
      tr
        td(colspan="2")
        td.label RAM
        td.label CPU
      
    //- 
    tbody.stats
      //- stats loaded via javascript

//- 
button#test TEST
