.nanobox-dash-ui-usage-breakdown
  .component

    //- 
    .gauges
      //- populated via javascript
    
    //- 
    table.services
    
      //- 
      thead.labels
        tr
          th(colspan="2")
          for metric in metrics
            th.label= metric
        
        
      //- 
      tbody.stats
        //- populated via javascript
