.nanobox-dash-ui-usage-breakdown
  .component

    //- 
    .gauges
      //- populated via javascript
    
    //- 
    table.services
    
      //- 
      thead.labels
        tr
          td(colspan="2")
          //- populated via javascript
        
      //- 
      tbody.stats
        //- populated via javascript
